// Define desired color palettes for each intention.
$primary: "purple";
$accent: "light-green";
$warn: "pink";

@import 'ember-paper';

.container {
  width: 960px;
  margin: 0 auto;
}

.recipe-ingredient-form {
  position: relative;
}

.ingredient-list {
  position: absolute;
  top: 49px;
  background: white;
  border: 1px solid var(--foreground-4);
  z-index: 2;
}

.toolbar-padding {
  padding-top: 85px;
}

.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
