// Define desired color palettes for each intention.
$primary: "light-green";
$accent: "light-blue";
$warn: "pink";

@import 'ember-paper';

.inline-block {
  display: inline-block;
}

.pos-relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.recipe-ingredient-form {
  position: relative;
  height: 60px;
}

.input-searchable-list {
  position: absolute;
  top: 49px;
  background: white;
  border: 1px solid var(--foreground-4);
  z-index: 2;
  width: 100%;
  padding: 0;
}

.input-searchable-list md-list-item:nth-child(odd) {
  background: #f4f4f4;
}

.toolbar-padding {
  padding-top: 64px;
  @media print {
    padding-top: 0;
  }
}

.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.error {
  color: RGB(var(--warn-A700));
}

.recipe-steps {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  li {
    margin-bottom: 20px;
  }
}

.recipe-ingredients-list {
  strong {
    font-weight: 500;
  }

  li {
    margin-bottom: 8px;
  }
}

.recipe-ingredient-button {
  height: 55px;
}

.hide-print {
  @media print {
    display: none;
  }
}

.show-print {
  @media screen {
    display: none;
  }
  @media print {
    display: inherit;
  }
}

.recipe-show__photo {
  background-color: darkgray;
  object-fit: cover;
  width: 100%;
  height: 320px;
}

.recipe-list__row {
  margin-bottom: 15px;
}

.recipes-list__photo-tile {
  background-image: url('/assets/no-image.jpg');
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin: 20px 10px 20px 0;
}

.recipe-show__container {
  padding: 0px 32px;
}
